<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/style.css">

    <title>Web Dev Course Group Chat</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 side-bar">
                <img class="sidebar-logo" src="../public/img/Logo.png">
                <a href="#"><ion-icon name="people-outline" class="icon-sidebar icon-friends"></ion-icon></a>
                <p class="icon-sidebar-subtitle">Friends</p>
                <a href="#"><ion-icon name="settings-outline" class=" icon-sidebar icon-settings"></ion-icon></a>
                <p class="icon-sidebar-subtitle">Settings</p>
                <a href="#"><ion-icon name="person-outline" class=" icon-sidebar icon-account"></ion-icon></a>
                <p class="icon-sidebar-subtitle">Account</p>
                <a href="#"><ion-icon name="stats-chart-outline" class=" icon-sidebar icon-stats"></ion-icon></a>
                <p class="icon-sidebar-subtitle">Stats</p>
            </div>
            <div class="col-md-3 dm-list">
                <p class="group-chatlist-title">Group Chats <a href="#"><ion-icon class='plus-sign' name="add-circle-outline"></ion-icon></a></p>
                <p class="group-chatlist-title">Direct Messages <a href="#"><ion-icon class='plus-sign' name="add-circle-outline"></ion-icon></a></p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 status-bottom">
              <ion-icon name="person-outline" class="icon-bottom-status icon-bottom-account"></ion-icon></ion-icon>
              <ion-icon name="settings-outline" class="icon-bottom-status icon-bottom-settings"></ion-icon>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="../public/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>