@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.top-stripe {
    background-color: #ffbf28;
    height: 5vh;
}

.side-bar {
    background-color: #222328;
    height: 90vh;
}

.chat-history {
    background-color: #1d1e20;
}

.bottom-stripe {
    background-color: #ffbf28;
    height: 5vh;
}

.logo {
    height: 90px;
    margin-top: 20px;
    margin-left: 7px;
    border-bottom: 5px solid #ffbf28;
    padding-bottom: 10px;
}

.title-text {
    transform: rotate(-90deg);
    font-size: 100px;
    letter-spacing: 10px;
    margin-top: 320px;
    font-weight: 800;
    font-style: italic;
}

.chat-title-box {
    background-color:#2a2d32;
    display: block;
    height: 10vh;
}

.chat-title {
    color: #fff;
    position: relative;
    left: 20px;
    top: 10px
}

.search-bar {
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    background-color: #444546;
    position: relative;
    left: 1000px;
    top: -43px
}

.chat-form {
    background-color: #2b2d33;
    position: relative;
    top: 470px;
    height: 10vh;
}

.message-bar {
    border-radius: 100px;
    border: none;
    background-color: #444546;
    padding: 10px 520px;
    text-align: left;
    margin-top: 12px;
    margin-left: 70px;
}

.message-bar::placeholder {
    position: relative;
    right: 500px;
}

.add-icon {
    color: #fff;
    font-size: 50px;
    position: relative;
    bottom: 47px;
    left: 13px;
    color: #444546;
}

.name-box {
    height: 90vh;
    background-color: #1d1e20;
}

.btn-join {
    position: relative;
    left: 44.5%;
    padding: 1% 2%;
    margin-top: 70px;
    display: inline;
}

.username {
    font-size: 50px;
    padding-top: -0px;
}

.join-main {
    text-align: center;
}

.form-control {
    background-color: #1d1e20;
    border: none;
}

.chat-messages {
    overflow-y: scroll;
    max-height: 500px;
}