@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.side-bar {
    background-color: #1d1f21;
    height: 85vh;
}

.icon-sidebar {
    color: #ffd829;
    font-size: 80px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.icon-friends {
    margin-top: 110px;
}

.icon-sidebar-subtitle {
    color: #ffdb29;
    text-align: center;
    margin-top: -18px;
}

.sidebar-logo {
    height: 100px;
    margin-bottom: -170px;
    border-bottom: 4px #FFBF00 solid;
    padding-bottom: 15px;
    margin-top: -40px;
    margin-left: 5px;
}

.group-chatlist-title {
    color: #FFBF00;
    font-size: 25px;
    border-bottom: 2px solid #ffbf00;
    display: inline-block;
    margin: 20px;
}

.plus-sign {
    margin-bottom: -5px;
    margin-left: 10px;
}

.dm-list {
    background-color: #2B2D33;
}

a {
    color: #ffbf00;
}

a:hover {
    color: #ffbf00
}

.status-bottom {
    background-color: #43474f;
    height: 15vh
}

.icon-bottom-status {
    color: #ffbf00;
    font-size: 60px;
}

.icon-bottom-settings {
    margin-left: 350px;
    margin-top: -75px;
}

.icon-bottom-account {
    position: relative;
    left: 270px;
    top: 23px;
}